<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./"><img src="https://occ-0-33-395.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABZ2Q_z0OE_YzxNN8WPkpvCZWBv2d8_cT-Oudvd_yhdtNShBrGmdT5CKzz7Wn5rnKj2YjybpsxlZ9QfidffwoliuU-RG1vAopLOhKjQZYPkQv.png?r=430" alt=""></a>
                    </div>
                    <ul>
                        <li>Địa chỉ: Hải châu- TP.Đà nẵng</li>
                        <li>Điện thoại: +84 12.345.678</li>
                        <li>Email: uda@donga.edu.vn</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Liên kết hữu ích</h6>
                    <ul>
                        <li> <a href="#"> Giới thiệu về chúng tôi </a> </li>
                        <li> <a href="#"> Giới thiệu về Cửa hàng</a> </li>
                        <li> <a href="#"> Mua sắm an toàn </a> </li>
                        <li> <a href="#"> Thông tin phân phối </a> </li>
                        <li> <a href="#"> Chính sách Bảo mật </a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6> Tham gia bản tin của chúng tôi ngay bây giờ </h6>
                     <p> Nhận thông tin cập nhật qua email về cửa hàng mới nhất và các ưu đãi đặc biệt của chúng tôi. </p>
                    <form action="#">
                        <input type="text" placeholder="Enter your mail">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png" alt=""></a>
                        <a href="#"><img src="https://banner2.cleanpng.com/20180324/vye/kisspng-computer-icons-logo-instagram-5ab6f566c66c85.9462965815219398148128.jpg" alt=""></a>
                        <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTq5i_BtevpdeGeJ9vI_AuLBuEW9RLFC7pK-AfssUKzMcdKXNS2zu0dlh5Wykt6270zkmY&usqp=CAU" alt=""></a>
                        <a href="#"><img src="https://img.forconstructionpros.com/files/base/acbm/fcp/image/2012/08/pinterest-favicon_10771274.png?auto=format%2Ccompress&fill=solid&fit=fill&h=720&q=70&w=1280" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->