
<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="header__top__left">
                      <ul>
                          <li>Giao hàng miễn phí cho tất cả các đơn đặt hàng có hóa đơn trên 299.000VND</li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="header__top__right">
                      <div class="header__top__right__social">
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-linkedin"></i></a>
                          <a href="#"><i class="fa fa-pinterest-p"></i></a>
                      </div>
                      <div class="header__top__right__language">
                          <img style="width: 14px; height: 14px;" src="https://cdn.pixabay.com/photo/2012/04/10/23/04/vietnam-26834_640.png" alt="">
                          <div>Tiếng việt</div>
                          <span class="arrow_carrot-down"></span>
                          <ul>
                              <li><a href="#">English</a></li>
                              <li><a href="#">Tiếng việt</a></li>
                          </ul>
                      </div>
                      <!-- Login logout -->
                      <div class="header__top__right__auth">
                        <a href="/users/login"><i class="fa fa-user"></i> Đăng nhập</a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-3">
              <div class="header__logo">
                  <a href="/"><img src="https://occ-0-33-395.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABZ2Q_z0OE_YzxNN8WPkpvCZWBv2d8_cT-Oudvd_yhdtNShBrGmdT5CKzz7Wn5rnKj2YjybpsxlZ9QfidffwoliuU-RG1vAopLOhKjQZYPkQv.png?r=430 " style="height: 50px;" alt=""></a>
              </div>
          </div>
          <div class="col-lg-6">
              <nav class="header__menu">
                  <ul>
                      <li  class="active"><a  href="/">Trang chủ</a></li>
                      <li class="active" ><a href="#">Cửa hàng</a></li>
                      <li class="active"><a href="#">Blog</a></li>
                      <li class="active" ><a href="#">Liên hệ</a></li>
                  </ul>
              </nav>
          </div>
      </div>
      <div class="humberger__open">
          <i class="fa fa-bars"></i>
      </div>
  </div>
</header>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="/search" method="post" role="search">
                            <input type="text" placeholder="Bạn cần tìm gì nào?" name="searchTerm">
                            <button type="submit" class="site-btn">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

