
<% include ../partials/header %>
<div>
    <a href="/quanly">Quay lại</a>
</div>
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <!-- Example row of columns -->
      <h3 class="diary-title">Thêm mới đồ ăn</h3>
      <form action="/todolist/add" method="POST">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Hình ảnh</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="hinhanh">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Tiêu đề</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="title">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Miêu tả</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="mieuta"></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Gía</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="price">
      </div>
      <button type="submit" class="btn btn-primary">Thêm mới</button>
      <hr>
    </form>
    </div> <!-- /container -->

  </main>