<% include ../partials/header%>
    <div>
        <a href="/">Trở lại</a>
    </div>
    <div>
        
        <form method="POST">
            Bạn muốn đăng xuất không: <strong></strong> ?
            <button type="submit" class="btn btn-primary">Đăng xuất</button>
        </form>
    </div>
